# Ayudantía 1: Introducción a python

### 1. Librerías

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

### 2. Importar datos

In [2]:
df = pd.read_csv("/home/felix/Dropbox/Computational_Economics/Intro_python/intro_python/ayudantia1.csv")
df.head()

  Periodo\tTasa de desempleo\tPIB a precios corrientes
0                                   01/03/10\t9.23\t
1                                   01/06/10\t8.66\t
2                                   01/09/10\t8.12\t
3                                   01/12/10\t7.21\t
4                                   01/03/11\t7.55\t

In [3]:
#Modificar separador del archivo de texto (",", ";", "\t")
df = pd.read_csv("/home/felix/Dropbox/ayudantia1.csv", sep="\t")
df.head()
# df.dtypes

    Periodo  Tasa de desempleo  PIB a precios corrientes
0  01/03/10               9.23                       NaN
1  01/06/10               8.66                       NaN
2  01/09/10               8.12                       NaN
3  01/12/10               7.21                       NaN
4  01/03/11               7.55                       NaN

In [4]:
#Revisar encabezado
df.head(5)

    Periodo  Tasa de desempleo  PIB a precios corrientes
0  01/03/10               9.23                       NaN
1  01/06/10               8.66                       NaN
2  01/09/10               8.12                       NaN
3  01/12/10               7.21                       NaN
4  01/03/11               7.55                       NaN

In [5]:
#Cambiar nombre de columnas del dataframe
df2= df.rename(columns = {'Tasa de desempleo': 'desempleo', 'PIB a precios corrientes': 'PIB' }, inplace = False)
df2.head()

    Periodo  desempleo  PIB
0  01/03/10       9.23  NaN
1  01/06/10       8.66  NaN
2  01/09/10       8.12  NaN
3  01/12/10       7.21  NaN
4  01/03/11       7.55  NaN

In [9]:
#Revisar elementos del dataframe
df2[20:30]

     Periodo  desempleo       PIB
20  01/03/15       6.23  39179.71
21  01/06/15       6.67  39535.45
22  01/09/15       6.54  38263.48
23  01/12/15       5.87  42574.71
24  01/03/16       6.49  41953.61
25  01/06/16       7.02  41447.91
26  01/09/16       7.03  40805.27
27  01/12/16       6.20  45330.60
28  01/03/17       7.04  43602.20
29  01/06/17       7.31  44040.88

### 3. Listas y diccionarios

In [8]:
#Crear una lista
my_list = list()
my_list = []
print(my_list)

[]

In [ ]:
#Anexar elemento a una lista
my_list.append('hello')
print(my_list)

In [ ]:
#Crear una lista con 3 elementos
my_list = ['hello', 'world', 'I']
print(my_list)

In [ ]:
#Insertar un elemento en una posición particular
my_list.insert(3, 'am')
print(my_list)
my_list.insert(1, 'am')
print(my_list)

In [ ]:
#Acceder elementos de la lista
my_list[0:3]

In [ ]:
#Eliminar elementos
my_list.remove('am')
print(my_list)
#Eliminar por posición
my_list.pop(2)
print(my_list)

In [ ]:
#Juntar listas
lista_1 = [1]
lista_2 = [2,3,4]
lista_3 = lista_1 + lista_2
print(lista_3)

In [ ]:
#Lista reversa
lista = [1,2,3,4,5]
lista_reversed = lista[::-1]
print(lista_reversed)

In [2]:
#Diccionarios
# Ejemplo 1
my_dict = dict()
# Ejemplo 2
my_dict = {}
# Ejemplo 3
my_dict = {'status': True, 'msg': 'ok'}

print(my_dict)

{'status': True, 'msg': 'ok'}

In [4]:
#Acceder a un elemento: con la llave
my_dict['msg']

'ok'

In [6]:
#Llaves
my_dict.keys()

dict_keys(['status', 'msg'])

In [7]:
#Values
my_dict.values()

dict_values([True, 'ok'])

In [8]:
#Items
my_dict.items()

dict_items([('status', True), ('msg', 'ok')])

### 4. Loops

In [ ]:
#Crear lista y mostrar elementos utilizando un loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)

In [ ]:
#Usar condicional "if" para restringir elementos del loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  print(x)
  if x == "banana":
    break

In [ ]:
#Usar condicional "if" para restringir elementos del loop
fruits = ["apple", "banana", "cherry"]
for x in fruits:
  if x == "banana":
    break
  print(x)

In [ ]:
# For dentro de un rango
for x in range(2, 6):
  print(x)

In [ ]:
#Anexar elementos a una lista usando un loop
my_list=[]
for i in range(0,10):
    my_list.append(i)
print(my_list)

In [ ]:
#1. Abrir archivo de texto y crear lista
my_file = open("ramsey_benchmark.mod")
string_list = my_file.readlines()
my_file.close()
print(string_list)

In [ ]:
#2. Crear diccionario a partir de archivo de texto
dict_vars = { i : string_list[i] for i in range(0, len(string_list)) }
dict_vars.keys()

### 5. Funciones

In [ ]:
# def NOMBRE(LISTA_DE_PARAMETROS):
#     """DOCSTRING_DE_FUNCION"""
#     SENTENCIAS
#     RETURN [EXPRESION]

def func1(α, β): 
    γ = α + β 
    return γ

func1(1,2)

In [ ]:
def func2(ini, ter):
    print(string_list[ini:ter])
    
func2(0,10)

### 5. Gráficos

In [ ]:
plt.plot([4,8,13,17,20],[54, 67, 98, 78, 45])
plt.show()

In [ ]:
plt.plot([4,8,13,17,20],[54, 67, 98, 78, 45], 'g--d')
plt.show()

In [ ]:
df2.head()

In [ ]:
ax_x= []
for i in range(0,10):
    ax_x.append(i)
  
plt.plot(ax_x, df2['desempleo'][0:10])

In [ ]:
plt.plot(ax_x, df2['desempleo'][20:30])
plt.plot(ax_x, df2['desempleo'][20:30])

In [1]:
#Subplots
fig, axs = plt.subplots(2)
#fig.suptitle('Vertically stacked subplots')
axs[0].plot(ax_x, df2['desempleo'][20:30])
axs[0].set_title('Desempleo')
axs[1].plot(ax_x, df2['PIB'][20:30], color='red')
axs[1].set_title('PIB')

NameError: name 'plt' is not defined

In [ ]:
#Algunos ejemplos: https://matplotlib.org/3.1.0/gallery/index.html

In [ ]:
#Python en economía: https://python.quantecon.org/