# Actividad 2
**Instrucciones:** 
- Cada pregunta la debe responder en una celda diferente (en total 4 celdas de código). 
- Antes de cada celda de código debe ir un `markdown` que muestre la pregunta que está respondiendo. 
- En la celda de código debe agregar un breve comentario de qué está haciendo.  

Revisar las bases y ver como vienen. Limpiar (en excel) para que sea sencillo importar los datos. Por ejemplo, en la base de EMPLEO las primeras 5 filas son celdas vacías o título de la hoja. Eso se puede borrar. Las columnas "C", "E" y otras son columnas en blanco, eliminar para que no queden a la hora de importar. La fila 7 tiene un subtítulo "en miles" que no aporta, también se puede eliminar. La idea es que las bases queden sólo con las filas y columnas que va a importar a python. 

Utilizando `pandas` importar las 4 bases, llamar: DF_IMACEC, DF_EMP, DF_IMP, DF_EXP. Limpiar para que se puedan trabajar (cambiar los nombres de variables, chequear el tipo de datos, revisar en qué fecha parten).

1. Crear un DataFrame que tenga la variación porcentual anual de personas para las categorías independientes (total) y asalariados (total). 
2. Usando el DataFrame del IMACEC, transponer para que las fechas queden en las filas y las categorías como columnas. Para esto puede usar la función de pandas `pivot_table`. 
3. Al DF del punto 1), agregar la variación porcentual anual del `imacec` del punto 2), usando un `inner join`. 
4. Utilizando `plotly`, crear un `subplot` que contenga: 
    1) Gráfico con la variación anual de independientes, asalariados e IMACEC. Debe usar líneas, markes o dash para diferenciar las tres líneas. 
    2)  Usando los DataFrame de exportaciones (EXP) e importaciones (IMP), crear un gráfico de `scatter` que tenga el total de exportaciones en el eje horizontal y el total de importaciones (CIF) en el vertical. Agregue al gráfico una línea de 45°.
    3) Dentro de las exportaciones seleccione: total exportaciones, minería,  agropecuario-silvícola y pesquero, industriales. Utilizando la primera fecha (enero-2009) como base 100, crear un mapa de calor que en el eje horizontal tenga las fechas y en el vertical las 4 categorías. Cambie la escala de colores (no utilizar el por defecto). 
    
Cada gráfico debe tener un subtítulo, nombre de ejes y una leyenda -según corresponda-. 
*hint: la clave es que ordene bien los datos antes del gráfico. Luego piense bien a qué debe llegar.*

In [4]:
import pandas as pd
df = pd.read_excel("/home/felix/Dropbox/Computational_Economics/Intro_python/Data_SQL/imacec2.ods")

In [6]:
pd.pivot_table(df, columns="Descripcion series")

            Descripcion series
1996-01-01           47.104201
1996-02-01           47.845904
1996-03-01           47.850285
1996-04-01           47.850344
1996-05-01           47.902395
...                        ...
2021-01-01          112.784887
2021-02-01          113.988091
2021-03-01          112.535383
2021-04-01          110.961629
2021-05-01          113.848748

[305 rows x 1 columns]